.logo{
  font-size:0;
  line-height:0;
  position:absolute;
  top:26px;
  left:37px;
  display:block;
  width:100px;
  height:100px;
  cursor:pointer;
  text-indent:-1000px;
  background:url(../../../assets/images/sk-logo.png) 50% 50% no-repeat;
  /* background-image:url(assets/images/logo.svg);*/
  background-size:100px 100px
}
.logo-blink{
  background:url(../../../assets/images/sk-logo-blink.png) 50% 50% no-repeat;
  background-size:100px 100px
}
@media screen and (max-width:375px){
  .logo{
    position:relative;
    top:auto;
    right:auto;
    left:auto;
    float:left;
    width:68px;
    height:68px;
    margin-top:-30px;
    background-size:68px 68px
  }
}
