<aside class="sidebar"   >
  <nav class="navigation" role="navigation" id="navigation" >
    <a [scrollTo]="'#about_me'" [scrollDuration]="500"  class="navigation__link  j-navigation"  routerLink="" fragment="about_me" (click)="menu_item=0">About me</a>
    <a [scrollTo]="'#competence'" [scrollDuration]="1000"  class="navigation__link j-navigation" routerLink="" fragment="competence"   (click)="menu_item=1" >Competence</a>
    <a [scrollTo]="'#projects'" [scrollDuration]="1000" class="navigation__link j-navigation"   routerLink="" fragment="projects" (click)="menu_item=2" >Projects</a>
    <a [scrollTo]="'#approach'" [scrollDuration]="1000"  class="navigation__link j-navigation"  routerLink="" fragment="approach" (click)="menu_item=3" >History</a>
    <a [scrollTo]="'#contacts'" [scrollDuration]="1000"  class="navigation__link j-navigation"  routerLink="" fragment="contacts"  (click)="menu_item=4" >Contacts</a>
  </nav>
</aside>
