<aside class="sidebar"   >
  <nav class="navigation" role="navigation" id="navigation">
    <a [scrollTo]="'#about_me'" [scrollDuration]="500"  class="navigation__link  j-navigation" routerLink="/"   >Home</a>
    <!--<a [scrollTo]="'#photos'" [scrollDuration]="500"  class="navigation__link  j-navigation" routerLink="/lifestyle" fragment="photos"  >Photos</a>-->
    <!--<a [scrollTo]="'#story'" [scrollDuration]="1000"  class="navigation__link j-navigation" routerLink="/lifestyle" fragment="story"  >Story</a>-->
    <!--<a [scrollTo]="'#books'" [scrollDuration]="1000" class="navigation__link j-navigation" routerLink="/lifestyle" fragment="books"     >Books</a>-->
    <!--<a [scrollTo]="'#music'" [scrollDuration]="1000"  class="navigation__link j-navigation" routerLink="/lifestyle" fragment="music"    >Music</a>-->
    <!--<a [scrollTo]="'#files'" [scrollDuration]="1000"  class="navigation__link j-navigation" routerLink="/lifestyle" fragment="files"    >Files</a>-->
  </nav>
</aside>
