<section class="screen screen_contacts j-section"   id="contacts">
  <div class="content">
    <div class="columns clearfix">
      <article class="columns__item columns__item_form">

      </article>
      <article class="columns__item columns__item_contacts">
        <div class="contacts">
          <div class="contacts__icon">
            <i class="icon icon-5"></i>
          </div>
          <div class="contacts__group">
            <div class="contacts__group__middle">
              <div class="contacts__line">
                <a href="mailto:info@ikitlab.com" class="link link_large">info@ikitlab.com</a>
              </div>
              <div class="contacts__line">
                <div class="phone">
                  <a href="tel:+74950034531" class="phone__number">+7 (495) 00-345-31</a>
                </div>
              </div>
              <ul class="social">
                <li class="social__item"><a href="" target="_blank" class="social__item__link">Facebook</a></li>
                <li class="social__item"><a href="" target="_blank" class="social__item__link">Github</a></li>
              </ul>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
