<section class="screen screen_contacts j-section"   id="contacts">
  <div class="content">
    <div class="columns clearfix">
      <article class="columns__item columns__item_form">
        <form class="form form_flip form-ajax form-reset j-form-flip" id="form-validate" data-forge-name="feedback-form" action="/feedback">
          <div class="form__border form__front j-form-side">
            <h2 class="content__subtitle">Let's start</h2>
            <p class="content__description">Message me. Usually I reply on the same day.</p>

               <div class="contacts__line">




                <a class="contacts_icons" href="https://www.linkedin.com/in/sergei-kharlamov-0a7a60162/" target="_blank"><img src="./images/linkedin.png"></a>
                <a class="contacts_icons" href="https://vk.com/id279349824" target="_blank"><img src="./images/vk.png"></a>
                <a class="contacts_icons" href="https://www.facebook.com/profile.php?id=100013280710459" target="_blank"><img src="./images/facebook.png"></a>


               </div>



          </div>

        </form>
      </article>
      <article class="columns__item columns__item_contacts">
        <div class="contacts">
          <button (click)="onQR()">QR</button>
          <div *ngIf="!QR" class="contacts__icon">
            <img src="./images/qr-code.svg">
          </div>
          <div *ngIf="QR" class="contacts__icon">
           <img src="./images/bizcardmaker-com-theme-picture--stardust-full.jpg">
          </div>


          <div class="contacts__group">
            <div class="contacts__group__middle">



            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
