
<span class="active disabled" style="display: none;"></span>
<noscript>
  <div class="js_disabled">В вашем браузере отключена поддержка JavaScript! Для нормальной работоспособности сайта необходимо разрешить использование JavaScript.</div>
</noscript>

<header class="layout-header" id="header"  >
  <div class="layout-header__wrapper">

    <app-logo></app-logo>

  </div>
</header>
<div>


<canvas id="canvas" #canvas style="position: absolute; width: 100%; min-height: 100%; z-index:0"></canvas>
<router-outlet></router-outlet>
</div>
<script src="js/vendor.min.js"></script>
<script src="js/app.min.js"></script>
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
<![endif]-->
