
<section class="screen screen_competence j-section" data-screen="competence" id="competence">
  <article class="content clearfix">
    <h2 class="content__subtitle">{{'Competence'|translate}}</h2>
    <div class="competence clearfix">
      <div class="competence__description">
        <p class="content__description content__description_small-push">{{'I know how to build great software'|translate}}</p>
        <i class="icon icon-2"></i>
      </div>
      <div class="competence__groups">
        <div class="groups ">
          <div class="groups__item clearfix"  [ngClass]="menu==0 ?'open':''">
            <p>{{"Programming"|translate}}</p>
            <a  class="groups__item__link j-change-item" (click)="menu=0" [ngClass]="menu==0 ?'is-current':''">LANGUAGES</a>
            <div class="groups__item__content j-change-content">
              <ul class="languages">
                <li class="languages__item">TypeScript</li>
                <li class="languages__item lost">JavaScript</li>
                <li class="languages__item">HTML,CSS</li>
                <li class="languages__item">PHP</li>
                <li class="languages__item lost">C/C++</li>
                <li class="languages__item">C++ for AVR</li>
                <li class="languages__item lost">C#</li>
                <li class="languages__item lost">Pascal/Object Pascal</li>
                <li class="languages__item lost">Assembler i8080</li>
                <li class="languages__item lost">Java for Android</li>
                <li class="languages__item">Kotlin</li>
              </ul>
            </div>
          </div>
          <div class="groups__item clearfix"  [ngClass]="menu==2 ?'open':''">
            <a   class="groups__item__link j-change-item" (click)="menu=2" [ngClass]="menu==2 ?'is-current':''">FRAMEWORKS</a>
            <div class="groups__item__content j-change-content">
              <ul class="languages">
                <li class="languages__item">Angular 6</li>
                <li class="languages__item">Node JS</li>
                <li class="languages__item">Sass</li>
                <li class="languages__item">CMS Wordpress</li>
              </ul>
            </div>
          </div>
          <div class="groups__item clearfix"  [ngClass]="menu==3 ?'open':''">
            <a  class="groups__item__link j-change-item" (click)="menu=3" [ngClass]="menu==3 ?'is-current':''">DATABASES</a>
            <div class="groups__item__content j-change-content">
              <ul class="languages">
                <li class="languages__item">MySQL</li>
                <!--<li class="languages__item">MariaDB</li>-->
                <li class="languages__item lost">Firebird</li>
                <li class="languages__item lost">Oracle SQL</li>
              </ul>
            </div>
          </div>
          <div class="groups__item clearfix"  [ngClass]="menu==5 ?'open':''">
            <a   class="groups__item__link j-change-item" (click)="menu=5" [ngClass]="menu==5 ?'is-current':''">DEV-OPS</a>
            <div class="groups__item__content j-change-content">
              <ul class="languages">
                <li class="languages__item">Linux OS</li>
                <li class="languages__item">Android OS</li>
                <li class="languages__item">Bash</li>
                <li class="languages__item lost">Docker</li>
                <li class="languages__item">MS Azure</li>
                <li class="languages__item">Nginx</li>
                <li class="languages__item lost">Apache</li>

              </ul>
            </div>
          </div>
          <div class="groups__item clearfix"  [ngClass]="menu==8 ?'open':''">
            <a   class="groups__item__link j-change-item" (click)="menu=8" [ngClass]="menu==8 ?'is-current':''">others</a>
            <div class="groups__item__content j-change-content">
              <ul class="languages">
                <li class="languages__item">Git</li>
                <li class="languages__item">UML 2</li>
                <li class="languages__item">ER-diagrams</li>
                <li class="languages__item">RegExp</li>
              </ul>
            </div>
          </div>
          <div class="groups__item clearfix"  [ngClass]="menu==6 ?'open':''">
            <p>{{"Engineering"|translate}}</p>
            <a   class="groups__item__link j-change-item" (click)="menu=6" [ngClass]="menu==6?'is-current':''">Design</a>
            <div class="groups__item__content j-change-content">
              <ul class="languages">
                <li class="languages__item">Altium Design</li>
                <li class="languages__item">КОМПАС-3D</li>
                <li class="languages__item">ЕСКД</li>
                <li class="languages__item lost">Solid Works</li>
                <li class="languages__item lost">Corel Draw</li>
                <li class="languages__item">Mathcad</li>
              </ul>
            </div>
          </div>
          <div class="groups__item clearfix"  [ngClass]="menu==7 ?'open':''">
            <a  class="groups__item__link j-change-item" (click)="menu=7" [ngClass]="menu==7 ?'is-current':''">Scientific</a>
            <div class="groups__item__content j-change-content">
              <ul class="languages">
                <li class="languages__item">Space Technology</li>
                <li class="languages__item">CubeSat</li>
                <li class="languages__item">Radio transmitters</li>
                <li class="languages__item lost">Analog electronics</li>
                <li class="languages__item lost">Digital electronics</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

  </article>
</section>
