<span class="active disabled" style="display: none;"></span>
<noscript>
  <div class="js_disabled">В вашем браузере отключена поддержка JavaScript! Для нормальной работоспособности сайта необходимо разрешить использование JavaScript.</div>
</noscript>
<header class="layout-header" id="header"  >
  <div class="layout-header__wrapper">
    <app-logo></app-logo>
    <nav class="layout-header__menu header-menu">
      <a href="index.html#let-start" class="header-menu__link header-menu__link_filled j-navigation current">Contact us</a>
    </nav>
  </div>
</header>


<aside class="sidebar"   >
  <nav class="navigation" role="navigation" id="navigation">
    <a [scrollTo]="'#about-me'" [scrollDuration]="1000" [scrollOffset]="-10"   class="navigation__link current j-navigation">About me</a>
    <a [scrollTo]="'#competence'" [scrollDuration]="1000" [scrollOffset]="-10"  class="navigation__link j-navigation">Competence</a>
    <a [scrollTo]="'#experience'" [scrollDuration]="1000" [scrollOffset]="-10"  class="navigation__link j-navigation">Experience</a>
    <a [scrollTo]="'#approach'" [scrollDuration]="1000" [scrollOffset]="-10"   class="navigation__link j-navigation">Approach</a>
    <a  [scrollTo]="'#let-start'" [scrollDuration]="1000" [scrollOffset]="-10"  class="navigation__link j-navigation">Let’s start</a>
  </nav>
</aside>

<div class="layout-wrapper" id="scroll-wrapper"  >
  <app-about-me></app-about-me>
  <section class="screen screen_competence j-section" data-screen="competence" id="competence">
    <article class="content clearfix">
      <h2 class="content__subtitle">Competence</h2>
      <div class="competence clearfix">
        <div class="competence__description">
          <p class="content__description content__description_small-push">We know how to build great software</p>
          <i class="icon icon-2"></i>
        </div>
        <div class="competence__groups">
          <div class="groups j-change-group">
            <div class="groups__item clearfix">
              <a href="index.html" class="groups__item__link j-change-item">LANGUAGES</a>
              <div class="groups__item__content j-change-content">
                <ul class="languages">
                  <li class="languages__item">Ruby</li>
                  <li class="languages__item">JavaScript</li>
                  <li class="languages__item">Go</li>
                  <li class="languages__item">Python</li>
                  <li class="languages__item">Java</li>
                </ul>
              </div>
            </div>
            <div class="groups__item clearfix">
              <a href="index.html" class="groups__item__link j-change-item">FRAMEWORKS</a>
              <div class="groups__item__content j-change-content">
                <ul class="languages">
                  <li class="languages__item">Ruby on Rails</li>
                  <li class="languages__item">ReactJS</li>
                  <li class="languages__item">AngularJS</li>
                  <li class="languages__item">NodeJS</li>
                </ul>
              </div>
            </div>
            <div class="groups__item clearfix">
              <a href="index.html" class="groups__item__link j-change-item">DATABASES</a>
              <div class="groups__item__content j-change-content">
                <ul class="languages">
                  <li class="languages__item">MySQL</li>
                  <li class="languages__item">PostgreSQL</li>
                  <li class="languages__item">Oracle</li>
                  <li class="languages__item">MongoDB</li>
                  <li class="languages__item">Cassandra</li>
                  <li class="languages__item">ElasticSearch</li>
                  <li class="languages__item">Redis</li>
                </ul>
              </div>
            </div>
            <div class="groups__item clearfix">
              <a href="index.html" class="groups__item__link j-change-item">DEV-OPS</a>
              <div class="groups__item__content j-change-content">
                <ul class="languages">
                  <li class="languages__item">Ansible</li>
                  <li class="languages__item">Puppet</li>
                  <li class="languages__item languages__item_push">Chef</li>
                  <li class="languages__item">Logstash</li>
                  <li class="languages__item">collectd</li>
                  <li class="languages__item">StatsD</li>
                  <li class="languages__item">Kibana</li>
                  <li class="languages__item">Graphite</li>
                  <li class="languages__item">Grafana</li>
                </ul>
              </div>
            </div>
            <div class="groups__item clearfix">
              <a href="index.html" class="groups__item__link j-change-item">ANALYTICS</a>
              <div class="groups__item__content j-change-content">
                <ul class="languages">
                  <li class="languages__item">MixPanel</li>
                  <li class="languages__item">Flurry</li>
                  <li class="languages__item">Google Analytics</li>
                  <li class="languages__item">Yandex.Metrika</li>
                </ul>
              </div>
            </div>
            <div class="groups__item clearfix">
              <a href="index.html" class="groups__item__link j-change-item">INTEGRATIONS</a>
              <div class="groups__item__content j-change-content">
                <ul class="languages">
                  <li class="languages__item">Facebook</li>
                  <li class="languages__item">VK</li>
                  <li class="languages__item">JIRA</li>
                  <li class="languages__item">Basecamp</li>
                  <li class="languages__item">Google Drive</li>
                  <li class="languages__item">W1</li>
                  <li class="languages__item">Robokassa</li>
                  <li class="languages__item">Yandex.Money</li>
                  <li class="languages__item">Stripe</li>
                  <li class="languages__item">BraintreePayments</li>
                  <li class="languages__item">PayPal</li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
  <section class="screen screen_experience j-section" data-screen="experience" id="experience">
    <div class="content">
      <h2 class="content__newtitle">20+ amazing projects since 2009</h2>
      <div class="categories clearfix">
        <div class="categories__icon">
          <i class="icon icon-3"></i>
        </div>
        <div class="categories__col">
          <ul class="categories__list">
            <li class="categories__list__item">Tech Start-ups</li>
            <li class="categories__list__item">E-commerce</li>
            <li class="categories__list__item">E-learning</li>
            <li class="categories__list__item">Financial Services</li>
          </ul>
        </div>
        <div class="categories__col">
          <ul class="categories__list">
            <li class="categories__list__item">Media & Digital Publishing</li>
            <li class="categories__list__item">Social Networks</li>
            <li class="categories__list__item">Business Intelligence</li>
          </ul>
        </div>
      </div>
      <div class="content__icon-mobile">
        <i class="icon icon-3"></i>
      </div>
      <section class="projects">
        <article class="project-item clearfix project-item_gray">
          <div class="project-item__content clearfi">
            <div class="project-item__left">
              <div class="project-item__logo">
                <img src="images/projects/bank-of-moscow.svg" width="220" height="59" class="project-item__logo__src" alt=""> </div>
              <div class="project-item__title project-item__title_dark project-item__title_bm"> Bank of Moscow </div>
              <div class="project-item__description">
                <p>The best online credit service in 2016.</p>
                <p>
                  <a href="https://anketa.bm.ru" target="_blank" class="project-item__description__site-link">anketa.bm.ru</a>
                </p>
              </div>
            </div>
            <div class="project-item__right project-item__right_pt">
              <div class="project-item__image__label">
                <img src="images/projects/mb-label.png" width="135" height="123" class="project-item__image__label__src" alt=""> </div>
              <div class="project-item__image">
                <img src="images/projects/bank-of-moscow-screen.jpg" width="488" height="336" class="project-item__image__src" alt=""> </div>
            </div>
          </div>
        </article>
        <div class="projects__col clearfix">
          <div class="projects__col__item">
            <article class="project-item project-item_medium project-item_light-gray clearfix">
              <div class="project-item__content project-item__content_simple">
                <div class="project-item__logo project-item__logo_di">
                  <img src="images/projects/dream-industries@2x.png" width="265" height="100" class="project-item__logo__src" alt=""> </div>
                <div class="project-item__description">
                  <p>Dream Industries creates technology that empowers people to spread knowledge and culture.</p>
                  <p>We were involved in development of some amazing big and pretty small projects.</p>
                </div>
              </div>
            </article>
          </div>
          <div class="projects__col__item">
            <article class="project-item project-item_medium project-item_indigo clearfix">
              <div class="project-item__content project-item__content_simple">
                <div class="project-item__logo project-item__logo_scade">
                  <img src="images/projects/scade-logo.svg" width="232" height="85" class="project-item__logo__src" alt=""> </div>
                <div class="project-item__description">
                  <p>Modern social network for dating and instant chats.</p>
                  <p>
                    <a href="http://scade.com" target="_blank" class="project-item__description__site-link">scade.com</a>
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <article class="project-item clearfix project-item_plum">
          <div class="project-item__content clearfi">
            <div class="project-item__left">
              <div class="project-item__logo">
                <img src="images/projects/london-calling-logo.svg" width="161" height="53" class="project-item__logo__src" alt=""> </div>
              <div class="project-item__title"> GoSay </div>
              <div class="project-item__description">
                <p>Language E-learning platform for corporate clients. Thousands of interactive lessons, webinars and adaptive courses. Team / course management and detailed analytical reports for HR / T&D.</p>
                <p>
                  <a href="http://gosay.co" target="_blank" class="project-item__description__site-link">gosay.co</a>
                </p>
              </div>
            </div>
            <div class="project-item__right">
              <div class="project-item__image">
                <img src="images/projects/london-calling.jpg" width="488" height="336" class="project-item__image__src" alt=""> </div>
            </div>
          </div>
        </article>
      </section>
      <div class="projects__button">
        <a href="index.html#let-start" class="button j-navigation">Contact us for more info</a>
      </div>
    </div>
  </section>
  <section class="screen screen_approach j-section" data-screen="approach" id="approach">
    <div class="content">
      <h2 class="content__subtitle content__subtitle_icon">Our approach
        <i class="content__subtitle__icon icon icon-4"></i>
      </h2>
      <p class="content__description">We build efficient and effective processes to achieve your goals.</p>
      <div class="content__icon-mobile">
        <i class="icon icon-4"></i>
      </div>
      <ol class="numbered-list">
        <li class="numbered-list__item j-scroll-animate">
          <h4 class="numbered-list__item__title">
            <span>1.</span> Dedicated team</h4>
          <p class="numbered-list__item__description">Our company has a project-orientated structure. We offer dedicated teams for your projects to focus solely on your needs.</p>
        </li>
        <li class="numbered-list__item j-scroll-animate">
          <h4 class="numbered-list__item__title">
            <span>2.</span> Flexible methodology</h4>
          <p class="numbered-list__item__description">We are aligned with your processes and tools. We select optimal methodology for your project: from iterative (Agile: SCRUM, Kanban) to predetermined (Waterfall). We work in your timezone.</p>
        </li>
        <li class="numbered-list__item j-scroll-animate">
          <h4 class="numbered-list__item__title">
            <span>3.</span> Quick prototyping and deep analysis</h4>
          <p class="numbered-list__item__description">Requirements gathering, focus groups and usage analytics, user stories, quick prototyping, A/B testing, documented requirements and modern UX &mdash; we do everything to help you make reasonable and long-run decisions.</p>
        </li>
        <li class="numbered-list__item j-scroll-animate">
          <h4 class="numbered-list__item__title">
            <span>4.</span> Quality assurance and control</h4>
          <p class="numbered-list__item__description">Defined test plans, test cases, test runs, quality metrics and reports. Quality management decreases cost and increases customer satisfaction.</p>
        </li>
        <li class="numbered-list__item j-scroll-animate">
          <h4 class="numbered-list__item__title">
            <span>5.</span> Automated maintenance and reusability</h4>
          <p class="numbered-list__item__description">We reuse components, automate environments and delivery process, monitor and ensure 24x7 operations of your product.</p>
        </li>
        <li class="numbered-list__item j-scroll-animate">
          <h4 class="numbered-list__item__title">
            <span>6.</span> Experienced staff</h4>
          <p class="numbered-list__item__description">We attract experienced professionals with interesting projects and modern technologies. We let them grow by offering trainings and supporting internal knowledge/lessons sharing.</p>
        </li>
        <li class="numbered-list__item j-scroll-animate">
          <h4 class="numbered-list__item__title">
            <span>7.</span> Transparency</h4>
          <p class="numbered-list__item__description">Our work is completely transparent: detailed WBS with estimates and risks; predictable builds with release notes and known defects; who is working on what, everyone's performance indicators and detailed timesheet reports.</p>
        </li>
      </ol>
    </div>
  </section>
  <section class="screen screen_let-start j-section" data-screen="let-start" id="let-start">
    <div class="content">
      <div class="columns clearfix">
        <article class="columns__item columns__item_form">
          <form class="form form_flip form-ajax form-reset j-form-flip" id="form-validate" data-forge-name="feedback-form" action="https://ikitlab.com/feedback">
            <div class="form__border form__front j-form-side">
              <h2 class="content__subtitle">Let's start</h2>
              <p class="content__description">Message us. Usually we reply on the same day.</p>
              <div class="form__row">
                <input name="email" type="email" class="form__input j-validate" placeholder="Your email" data-validate-method="email" data-forge-name="email"> </div>
              <div class="form__row">
                <textarea name="message" cols="30" rows="10" class="form__textarea j-validate" placeholder="Your message" data-validate-method="empty" data-forge-name="message"></textarea>
              </div>
              <button type="submit" class="button disabled j-form-button" data-loading="Sent messages" data-original="Send a message" disabled>Send a message</button>
            </div>
            <div class="form__result form__back j-form-side">
              <i class="form__result__close j-form-close"></i>
              <div class="form__result__middle">
                <h4 class="form__result__title j-reply-title">Thank you!</h4>
                <p class="form__result__description j-reply-message">We’ll reply you soon</p>
              </div>
            </div>
          </form>
        </article>
        <article class="columns__item columns__item_contacts" #destinationRef>
          <div class="contacts">
            <div class="contacts__icon">
              <i class="icon icon-5"></i>
            </div>
            <div class="contacts__group">
              <div class="contacts__group__middle">
                <div class="contacts__line">
                  <a href="mailto:info@ikitlab.com" class="link link_large">info@ikitlab.com</a>
                </div>
                <div class="contacts__line">
                  <div class="phone">
                    <a href="tel:+74950034531" class="phone__number">+7 (495) 00-345-31</a>
                  </div>
                </div>
                <ul class="social">
                  <!-- <li class="social__item"><a href="" target="_blank" class="social__item__link">Facebook</a></li> -->
                  <!-- <li class="social__item"><a href="" target="_blank" class="social__item__link">Github</a></li> -->
                </ul>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>
<script src="js/vendor.min.js"></script>
<script src="js/app.min.js"></script>
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
<![endif]-->
