<section class="screen screen_experience j-section"  id="projects">
  <div class="content">
    <h2 class="content__newtitle">20+ amazing projects since 2009</h2>
    <div class="categories clearfix">
      <div class="categories__icon">
        <i class="icon icon-3"></i>
      </div>
      <div class="categories__col">
        <ul class="categories__list">
          <li class="categories__list__item">Tech Start-ups</li>
          <li class="categories__list__item">E-commerce</li>
          <li class="categories__list__item">E-learning</li>
          <li class="categories__list__item">Financial Services</li>
        </ul>
      </div>
      <div class="categories__col">
        <ul class="categories__list">
          <li class="categories__list__item">Media & Digital Publishing</li>
          <li class="categories__list__item">Social Networks</li>
          <li class="categories__list__item">Business Intelligence</li>
        </ul>
      </div>
    </div>
    <div class="content__icon-mobile">
      <i class="icon icon-3"></i>
    </div>

  </div>
</section>
