<section class="screen screen_experience j-section"  id="projects">
  <div class="content">
    <h2 class="content__newtitle">20+ amazing projects since 2009</h2>
    <div class="categories clearfix">
      <div class="categories__icon">
        <i class="icon icon-3"></i>
      </div>
      <div class="categories__col">
        <ul class="categories__list">
          <li class="categories__list__item">Tech Start-ups</li>
          <li class="categories__list__item">E-commerce</li>
          <li class="categories__list__item">E-learning</li>
          <li class="categories__list__item">Financial Services</li>
        </ul>
      </div>
      <div class="categories__col">
        <ul class="categories__list">
          <li class="categories__list__item">Media & Digital Publishing</li>
          <li class="categories__list__item">Social Networks</li>
          <li class="categories__list__item">Business Intelligence</li>
        </ul>
      </div>
    </div>
    <div class="content__icon-mobile">
      <i class="icon icon-3"></i>
    </div>
    <section class="projects">
      <article class="project-item clearfix project-item_gray">
        <div class="project-item__content clearfi">
          <div class="project-item__left">
            <div class="project-item__logo">
              <img src="images/projects/bank-of-moscow.svg" width="220" height="59" class="project-item__logo__src" alt=""> </div>
            <div class="project-item__title project-item__title_dark project-item__title_bm"> Bank of Moscow </div>
            <div class="project-item__description">
              <p>The best online credit service in 2016.</p>
              <p>
                <a href="https://anketa.bm.ru" target="_blank" class="project-item__description__site-link">anketa.bm.ru</a>
              </p>
            </div>
          </div>
          <div class="project-item__right project-item__right_pt">
            <div class="project-item__image__label">
              <img src="images/projects/mb-label.png" width="135" height="123" class="project-item__image__label__src" alt=""> </div>
            <div class="project-item__image">
              <img src="images/projects/bank-of-moscow-screen.jpg" width="488" height="336" class="project-item__image__src" alt=""> </div>
          </div>
        </div>
      </article>
      <div class="projects__col clearfix">
        <div class="projects__col__item">
          <article class="project-item project-item_medium project-item_light-gray clearfix">
            <div class="project-item__content project-item__content_simple">
              <div class="project-item__logo project-item__logo_di">
                <img src="images/projects/dream-industries@2x.png" width="265" height="100" class="project-item__logo__src" alt=""> </div>
              <div class="project-item__description">
                <p>Dream Industries creates technology that empowers people to spread knowledge and culture.</p>
                <p>We were involved in development of some amazing big and pretty small projects.</p>
              </div>
            </div>
          </article>
        </div>
        <div class="projects__col__item">
          <article class="project-item project-item_medium project-item_indigo clearfix">
            <div class="project-item__content project-item__content_simple">
              <div class="project-item__logo project-item__logo_scade">
                <img src="images/projects/scade-logo.svg" width="232" height="85" class="project-item__logo__src" alt=""> </div>
              <div class="project-item__description">
                <p>Modern social network for dating and instant chats.</p>
                <p>
                  <a href="http://scade.com" target="_blank" class="project-item__description__site-link">scade.com</a>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <article class="project-item clearfix project-item_plum">
        <div class="project-item__content clearfi">
          <div class="project-item__left">
            <div class="project-item__logo">
              <img src="images/projects/london-calling-logo.svg" width="161" height="53" class="project-item__logo__src" alt=""> </div>
            <div class="project-item__title"> GoSay </div>
            <div class="project-item__description">
              <p>Language E-learning platform for corporate clients. Thousands of interactive lessons, webinars and adaptive courses. Team / course management and detailed analytical reports for HR / T&D.</p>
              <p>
                <a href="http://gosay.co" target="_blank" class="project-item__description__site-link">gosay.co</a>
              </p>
            </div>
          </div>
          <div class="project-item__right">
            <div class="project-item__image">
              <img src="images/projects/london-calling.jpg" width="488" height="336" class="project-item__image__src" alt=""> </div>
          </div>
        </div>
      </article>
    </section>
    <div class="projects__button">
      <a href="index.html#let-start" class="button j-navigation">Contact us for more info</a>
    </div>
  </div>
</section>
