<section class="screen screen_about-us j-section" data-screen="about-us" id="about_me">
  <article class="content content_about-us">

    <app-title-message></app-title-message>

    <p class="content__description">{{'The journey of a thousand miles begins with one step. Lao Tzu'|translate}}</p>
    <div class="center">
      <a class="navigation__link link j-navigation"  target="_blank" href="https://www.instagram.com/sk_harlamov/?hl=en">{{'My lifestyle . . .'| translate}}</a>
    </div>
  </article>
</section>
